<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/clean-blog.min.css">
    <script src="https://kit.fontawesome.com/f40cae7fe4.js" crossorigin="anonymous"></script>
    <title>ARCH STEAK HOUSE</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand" href="/templates/index.html">ARCH STEAK HOUSE</a>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/templates/index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/templates/booking.html">BOOKING</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/templates/menu.html">OUR MENU</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/templates/gallery.html">GARLLERY</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <header class="masthead" style="background-image: url('/static/img/img_5597.webp')"> alt="the sign at the entrance of the reesturant">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>OUR PHOTO GARLLERY</h1>
            <span class="subheading">steaks live jazz and cocktails everynight</span>
          </div>
        </div>
      </div>
    </div>
  </header>
<section id="photos">
    <img src= /static/img/bridge.jpg alt="the front of the reesturant">
    <img src= /static/img/champ.jpg alt="waiter pouring a glass of champagne ">
    <img src= /static/img/cocktails.jpg alt="cocktails on the bar">
    <img src= /static/img/img_5597.webp alt="the sign at the entrance of the resturant">
    <img src= /static/img/music.jpg alt="live music being playd ">
    <img src= /static/img/steak_and_chips.jpg alt="steak and chips dish">
    <img src= /static/img/the_big_one.jpg alt="a 600g steak on a wooden bord">
    <img src= /static/img/cocktails2.jpg alt="large group of people running ">
    <img src= /static/img/upstairs.jpg alt="the upstairs part of the reesturant">
    <img src= /static/img/cheers.jpg  alt= "people cheers with wine ">
    <img src= /static/img/chicken.jpg  alt="a chicken dish with rice">

</section>
<hr>
    
      <!-- Footer -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <ul class="list-inline text-center">
                <li class="list-inline-item">
                  <a href="https://twitter.com/" target="_blank">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://facebook.com/" target="_blank">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href=https://instagram.com/ target="_blank">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fa-brands fa-instagram fa-stack-1x fa-inverse""></i>
                    </span>
                  </a>
                </li>
              </ul>
              <p class="copyright text-muted">Copyright &copy; Frank Brown 2022</p>
            </div>
          </div>
        </div>
      </footer>
    
     
</body>
</html>  
    